@model IEnumerable<Ensalamento.Dominio.Sala>

@{
    ViewBag.Title = "Salas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="intro2" class="intro-parallax2">
    <div class="container">
        <div class="panel panel-primary">
            <table class="table table-bordered">
                <tr>
                    <th>
                        <p>Bloco</p>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacidade)
                    </th>
                    <th>
                        <p>Situação</p>
                    </th>
                
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bloco.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.SalaId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.SalaId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.SalaId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section> 